@font-face {
    font-family: robotoImported;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: robotoImported;
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: bold;
}

html, body{
    background-color: #01386a !important;
}
